<!DOCTYPE html>
<html>
    <head>
        <!--<meta http-equiv="X-UA-Compatible">-->
        <meta charset="utf-8">
        <meta name="description" content="Sample Flask app">
        <meta name="author" content="btbell">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!--<link rel="shortcut icon" href="">-->
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
<body>
<!-- main content block -->

<!-- message code -->
{% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
{% endfor %}

{% block main %}

{% endblock %}

<!-- SCRIPTS -->
<!-- Example: <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
</body>
</html>