{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock %}

{% block main %}

<h1>Oopsie! We couldn't find that.</h1>

<p>Please check your spelling and try again.</p>
<p><a href="{{ url_for('urlshort.home') }}">Back to home.</a></p>

{% endblock %}